.swiper-slide {
  padding: 4px;
  box-sizing: border-box;
  width: max-content !important;
}

.swiper {
  width: max-content !important;
  margin: 0 !important;
}

.swiper-wrapper {
  width: 300px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}

.swiper-button-prev {
  background-image: url(/assets/icon-arrow-left.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  background-image: url(/assets/icon-arrow-right.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
}

.swiper-button-next::after {
  display: none;
}

@media (max-width: 500px) {
  .swiper {
    width: 100% !important;
    margin: 0 !important;
  }
  
  .swiper-wrapper {
    width: 100% !important;
  }
}